[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
