[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/closetag.vim"]
	path = vim/.vim/bundle/closetag.vim
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-bundle-sparkup"]
	path = vim/.vim/bundle/vim-bundle-sparkup
	url = git://github.com/sophacles/vim-bundle-sparkup.git
